@font-face {
    font-family: "ASL";
    src: url('fonts/edosz.ttf');
}

@font-face {
    font-family: "ASL-2";
    src: url('fonts/bignoodletitling/big_noodle_titling.ttf');
}

@font-face {
    font-family: "ASL-main";
    src: url('fonts/aldo/Aldo PC.ttf');
}

@font-face {
    font-family: "ASL-3";
    src: url('fonts/Bonzer - San Francisco.ttf');
}

* html {
  font-family: 'ASL-main';
}

.dark #header.sticky-header:not(.transparent-header) #header-wrap:not(.not-dark), .dark #header.sticky-header.transparent-header #header-wrap:not(.not-dark), .dark #header.transparent-header.floating-header .container, .dark #header.transparent-header.floating-header.sticky-header .container, #header.dark.sticky-header:not(.transparent-header) #header-wrap:not(.not-dark), #header.dark.sticky-header.transparent-header #header-wrap:not(.not-dark), #header.dark.transparent-header.floating-header .container, #header.dark.transparent-header.floating-header.sticky-header .container, .dark .responsive-sticky-header #header-wrap, .responsive-sticky-header.dark #header-wrap {
  background-color: rgb(116,25,23) !important;
}

#header:not(.transparent-header) #header-wrap {
  background-color: rgb(116,25,23) !important;
}

#primary-menu ul li a {
  color: #eee;
}

.asl-font {
  font-family: 'ASL-main';
}

h2.asl-font {
  font-size: 36px;
}

.asl-filosofia-title {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.asl-filosofia-subtitle {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.7em;
  font-family: 'ASL-main';
}

.asl-filosofia-p {
  font-size: 18px;
}

#oc-team-list .owl-dots,  #asl-calendar-carousel .owl-dots{
  display: none;
}

img.team-pic {
  width: 50% !important;
}

.team-title h4 {
  font-size: 24px;
  font-weight: normal;
  border-bottom: solid 2px #eee;
}

.team-title span {
  color: #eee !important;
  font-weight: normal;
  font-family: sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-size: 20px;
}

h3.asl-academia-subtitle {
  font-size: 28px;
  text-align: center;
  border-bottom: solid 2px #eee;
  margin-bottom: 10px;
  font-family: 'ASL-main';
}

span.asl-academia-subtitle {
  display: block;
  text-align: center;
  color: #eee !important;
  font-size: 22px;
  font-weight: 100;
  font-family: 'ASL-main';
}

h2.asl-academia-price {
  text-align: center;
  font-size: 64px;
  font-family: 'ASL-main';
}

h2.asl-academia-price span {
  color: #eee !important;
  font-size: 44px;
}

ul.asl-academia-list li {
  font-size: 20px;
}

.dark .tabs.tabs-alt ul.tab-nav li a, .dark ul.tab-nav li.ui-tabs-active a {
  background-color: #26325e;
}

ul.tab-nav:not(.tab-nav-lg) li {
  width: 76%
}

ul.tab-nav:not(.tab-nav-lg) li, ul.tab-nav:not(.tab-nav-lg) {
  border: none;
}

.asl-boletos-title {
  color: #eee;
  font-weight: normal;
  font-family: 'ASL-main';
  font-size: 44px;
}

.asl-boletos-title span {
  font-family: 'Lato';
  display: block;
  color: #eee !important;
  font-size: 20px;
  font-weight: 100;
}

.asl-boletos-title span.asl-boletos-span, .asl-boletos-span {
  font-size: 40px;
  font-family: 'ASL-3';
}

.asl-boletos-blockquote {
  color: #eee !important;
  font-size: 55px;
  font-family: 'ASL-main';
  font-weight: bold;
  line-height: normal;
  border-color: rgb(151,44,41);
}

.asl-boletos-blockquote span {
  font-size: 80px;
}

.asl-boletos-pricing-title {
  text-align: left;
  font-size: 35px !important;
  margin-left: 20px !important;
}

.asl-boletos-pricing-list {
  padding: 0 40px;
}

.asl-boletos-pricing-list div {
  font-size: 20px;
  color: #aaa;
  font-weight: 100;
}

.asl-boletos-pricing-list div .fright {
  color: #ccc;
}

.pricing-box-set {
  padding-left: 0;
  padding-right: 0;
}

span.block {
  display: block;
}

.portfolio-desc h3 {
  color: #ccc !important;
}

.portfolio-desc span {
  color: #eee !important;
}

.asl-calendar-title {
  color: white !important;
  background-color: rgb(151,44,41);
}

#asl-calendar-carousel {
  margin-top: -30px;
}

#asl-calendar-carousel .owl-nav [class*=owl-] {
  opacity: 1 !important;
  background-color: rgb(151,44,41) !important;
  color: white;
}

.asl-tienda-title {
  font-family: 'ASL';
  color: #eee !important;
  text-align: center;
  font-size: 65px;
  font-weight: 100;
  font-style: italic;
}

#asl-responsabilidad-carousel .oc-item .iportfolio .portfolio-desc h3 {
  color: #333 !important;
}

.asl-zona-fan {
  background-color: rgb(38,50,94);
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.asl-zona-fan-title, .asl-zona-fan-subtitle {
  color: #eee !important;
}

.asl-zona-fan-subtitle {
  font-weight: normal;
}

.asl-zona-fan-quiz {
  padding: 0 5%;
}

.asl-zona-fan-quiz p {
  padding-top: 5%;
  font-size: 20px;
}

.asl-zona-fan-quiz p span {
  background-color: rgb(38,50,94);
  color: #eee;
  border: 2px solid rgb(38,50,94);;
  border-radius: 25px;
  padding: 1px 6px;
}

.asl-zona-fan-quiz div label {
  font-size: 20px;
}

#footer .footer-widgets-wrap {
  padding: 30px 0;
}

#copyrights {
  padding: 20px 0;
}

.img-clip {
  -webkit-clip-path: inset(0 25% 0 24%);
  clip-path: inset(0 25% 0 24%);
}

.entry-title h2 a, .fancy-title h3, form div label {
  font-family: 'ASL-main';
}

@media (max-width: 991px){
  #boletos-div {
    background-color: rgb(38,50,94);
    background-image: none;
  }

  #header.transparent-header, #header.semi-transparent {
    background-color: rgb(116,25,23) !important;
    color: #eee !important;
  }
}
